<configuration>
<connectionStrings>
	<add name="DefaultConnection" connectionString="Server=DESKTOP-MFCNCQ9\\SQLEXPRESS;Database=Car;Trusted_Connection=True;TrustServerCertificate=True;Integrated Security=True;Encrypt=False;" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>